.contact-section {
  margin-left: 70px;
}

.contact-header {
  margin-top: 2.5%;
  color: #141c51;
  font-weight: 500;
  font-size: 40px;
}

.contact-paragraph {
  margin-top: 2%;
  color: #141c51;
  font-size: 20px;
  font-weight: 500;
  width: 70%;
}

/* form begins */

.contact-section .contact-form {
  font-size: 23px;
  width: 70%;
  color: #141c51;
}

.contact-section .contact-form label {
  display: block;
}

.contact-section .contact-form input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 21px;
  border-bottom: 3px solid #141c51;
  border-radius: 2px;
  width: 60%;
}

/* text area input */
.contact-section .contact-form textarea {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 21px;
  border: 3px solid #141c51;
  border-radius: 2px;
  height: 200px;
  width: 100%;
}

.contact-section .contact-form .col-md-6 {
  padding-left: 0;
  margin-bottom: 20px;
}

.contact-section .contact-form input[name="message"] {
  width: 90%;
}

.contact-section .contact-form button {
  padding: 5px 5px;
  width: 9rem;
  height: 3.5rem;
  opacity: 1;
  text-align: center;
  font-size: 20px;
  border: none;
  align-self: flex-end;
  margin-left: 10px;
  color: var(--white);
  background: #141c51;
  border-radius: 30px;
  transition: all 0.1s ease;
}

.contact-section .contact-form button:hover {
  transform: scale(1.03);
}

.contact-section .contact-form .custom-row {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

/* Vendor prefixes for Safari */
/* @supports (-webkit-appearance: none) {
  .contact-section .contact-form input {
    -webkit-appearance: none;
    appearance: inherit;
  }

  .contact-section .contact-form button {
    -webkit-appearance: none;
    appearance: inherit;
  }
} */

/* form ends */




/* Contact Info styles */

.contact-info .container {
  margin: 0;
  margin-bottom: 1.5rem;
}

.contact-info .flexing {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.contact-info .col-md-6 {
  padding-left: 0;
}

.contact-info h2 {
  color: #141c51;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 8px;
}

.contact-info i {
  font-size: 27px;
}

.contact-info p {
  color: #141c51;
  width: 70%;
  font-size: 18px;
  margin-top: 10px;
}



/* Vendor prefixes for Safari */
@supports (-webkit-appearance: none) {
  .contact-section .contact-info h2,
  .contact-section .contact-info i,
  .contact-section .contact-info p,
  .contact-section .contact-info .col-md-6,
  .contact-section .contact-info .flexing,
  .contact-section .contact-info .container {
    -webkit-appearance: none;
    appearance: inherit;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .contact-header {
    font-size: 30px;
  }
  .contact-paragraph {
    margin-top: 30px;
    font-size: 18px;
  }
  .contact-section .contact-form {
    width: 80%;
  }
  .contact-section .contact-form .container {
    display: block;
    max-width: 100%;
    width: 100%;
  }
  .contact-section .contact-form .custom-row {
    width: 100%;
  }
  .contact-section .contact-form .col-md-6 {
    width: 100%;
  }
  .contact-section .contact-form label {
    font-size: 20px;
  }
  .contact-section .contact-form input {
    width: 45%;
  }
  .contact-section .contact-form input[name="message"] {
    width: 65%;
  }

  .contact-section .contact-info .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
  .contact-section .contact-info .flexing {
    display: flex;
    align-items: center;
    margin: 10px 0px;
  }
  .contact-section .contact-info .col-md-6 {
    padding-left: 0;
  }
  .contact-section .contact-info h2 {
    color: #141c51;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 8px;
  }
  .contact-section .contact-info i {
    font-size: 22px;
  }
  .contact-section .contact-info p {
    color: #141c51;
    width: 70%;
    font-size: 17px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 799px) {
  .contact-section{
    margin-left: 50px;
  }
  .contact-header {
    font-size: 35px;
    font-weight: 600;
  }
  .contact-paragraph {
    margin-top: 33px;
    font-size: 17px;
  }
  .contact-section .contact-form {
    width: 100%;
  }

  .contact-section .contact-form .container {
    display: block;
    max-width: 100%;
    width: 100%;
  }
  .contact-section .contact-form .custom-row {
    display: block;
    width: 100%;
  }
  .contact-section .contact-form .col-md-6 {
    width: 100%;
  }
  .contact-section .contact-form label {
    font-size: 20px;
  }
  .contact-section .contact-form input {
    font-size: 15px;
    width: 200px;
  }
  .contact-section .contact-form input[name="message"] {
    width: 270px;
  }
  .contact-section .contact-form button {
    margin-left: 0px;
    padding: 4px;
    width: 7rem;
    height:3rem;
  }


  .contact-section .contact-info .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
  .contact-section .contact-info .flexing {
    display: flex;
    align-items: center;
    margin: 10px 0px;
  }
  .contact-section .contact-info .col-md-6 {
    padding-left: 0;
  }
  .contact-section .contact-info h2 {
    color: #141c51;
    font-size: 23px;
    margin-left: 10px;
    margin-top: 8px;
  }

  .contact-section{
    margin-bottom: 20px;
  }
  .contact-section .contact-info i {
    font-size: 22px;
  }
  .contact-section .contact-info p {
    color: #141c51;
    width: 70%;
    font-size: 16px;
    margin-top: 10px;
  }
}
