.whybme-section {
  /* margin-left: 70px; */
}

.whybme-section h2 {
  color: #141c51;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  margin-left: 0px !important;
  /* centered all headers  */
}

.whybme-section p {
  color: #141c51;
  font-size: 25px;
}

.why-header {
  margin-top: 2.5%;
  margin-left: 70px;
}

.whybme-section .row1 {
  margin-top: 2.5%;
  max-width: 100%;
  overflow: hidden;
}

.whybme-section .card1 {
  margin: auto;
  margin-top: 10px;
  /* padding-top: 10px; */
  padding-left: 10px;
  position: relative;
  width: 600px;
  height: 300px;
}

.whybme-section .part1 {
  padding: 15px 20px;
  position: absolute;
  width: 550px;
  font-size: 20px;
  color: #141c51;
  height: 250px;
  background-color: var(--white);
  z-index: 10;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
}
.whybme-section .part1 h3 {
  color: #141c51;
  font-size: 26px;
  margin-left: 0;
  font-weight: 700;
}
.whybme-section .part1 p {
  font-size: 20px;
}
.whybme-section .part2 {
  position: absolute;
  width: 550px;
  height: 250px;
  top: -10px;
  left: 0px;
  z-index: 2;
  background-color: var(--dark-blue);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Add box shadow */
}
.whybme-section .part3 {
  position: absolute;
  width: 120px;
  height: 7px;
  top: 110px;
  left: -121px;
  background-color: var(--dark-blue);
  z-index: 1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Add box shadow */
}
.whybme-section .part3-2 {
  position: absolute;
  width: 130px;
  height: 7px;
  top: 125px;
  right: -90px;
  background-color: var(--dark-blue);
  z-index: 1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Add box shadow */
}
.whybme-section .custom-card1 {
  margin-top: 230px;
  margin-right: 50px;
}
.whybme-section .custom-card1-1 {
  margin-top: 140px;
  margin-right: 50px;
}
.whybme-section .custom-card1-2 {
  margin-top: 100px;
}
.whybme-section .custom-card1-3 {
}

.whybme-section .the-future {
  margin-left: 70px;
  width: 40%;
  h2 {
    margin-bottom: 30px;
  }
}

.whybme-section .flex-container-why {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}

.whybme-section .future-p{
  margin-top: 30px;
}

.whybme-section .the-future-points {
  margin-top: 230px;
  width: 33%;
}

.whybme-section .the-future-points .contain-points {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.whybme-section .the-future-points .contain-points img{
    
  width: 30px;
  height: 30px;
}
.whybme-section .the-future-points .contain-points p{    
  margin-top: 5px;
  font-size: 22px;
  line-height: 1.3;
  font-family: "MARLIDE_DISPLAY";
}


/* market stats */

.me-stats-header{
  margin-left: 70px;
  margin-top: 50px;
}

.parent{
  position: relative;
  padding-top: 50px;
  overflow: hidden;
  height: 340px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.outline {
  margin: auto;
  position: relative;
  width: 600px;
  height: 600px;
  border: 5px solid #141c51;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(-18.5deg);
}

.sub-outline{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 500px;
  height: 600px;
  top: 130px;
  background-color: white;
  
  border-radius: 50%;
  z-index: 1;
}


.sub-outline p{
  font-size: 21px;
  position: absolute;
  top: 58%;
  left: 50%;
  /* margin-top: 60px; */
  transform: translate(-50%, -45%);
  width: 60%;
  text-align: center;
  line-height: 1.2;
  color: #141c51;
  /* border: 1px solid black; */
  height: 100%;
}

.sub-outline p span{
  font-family: 'SFT_DEMI_BOLD';
}


.circles-parent {
  left: -50%;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s all ease;
}


.circle{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #141c51;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: rotate(calc(36deg * var(--i)));
  transform-origin: 340px;
  transition: 0.3s all ease;
}

.circle img{
  width: 80%;
  height: 80%;
}

.circle img{
  margin: 0;
  /* color:white; */
  transform: rotate(calc(36deg * var(--i)));
  transform: rotate(-18.5deg);
}

.circle2 img{
  /* transform: rotate(calc(36deg * var(--i))); */
  transform: rotate(-54deg);
}
.circle3 img{
  /* transform: rotate(calc(36deg * var(--i))); */
  transform: rotate(-90deg);
}
.circle4 img{
  /* transform: rotate(calc(36deg * var(--i))); */
  transform: rotate(-125deg);
}
.circle5 img{
  /* transform: rotate(calc(36deg * var(--i))); */
  transform: rotate(-163deg);
}

.circle.active{
  border: 7px solid white;
}

/* .circle:nth-child(2) {
  top: 25px; 
  left: calc(38% - 120px);
}

.circle:nth-child(3) {
  top: 150px;
  left: calc(38% - 210px);

  
}

.circle:nth-child(4) {
  top: 150px;
  left: calc(38% + 305px) ;
}

.circle:nth-child(5) {
  top: 25px;
  left: calc(38% + 210px) ;
} */


/* responsiveness */

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .whybme-section .row1 .col-md-6 {
    width: 100%;
  }
  .whybme-section h2 {
    font-size: 30px;
  }
  .whybme-section p {
    font-size: 19px;
  }
  .whybme-section .card1 {
    margin: 0px;
    margin: auto;
    margin-top: 30px;
    width: 400px;
    height: 500px;
  }

  .whybme-section .part1 {
    width: 300px;
    height: 450px;
  }
  .whybme-section .part2 {
    width: 300px;
    height: 450px;
  }

  .whybme-section .part3 {
    display: none;
  }
  .whybme-section .part3-2 {
    display: none;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .whybme-section .row1 .col-md-6 {
    width: 100%;
  }
  .whybme-section h2 {
    font-size: 30px;
  }
  .whybme-section p {
    font-size: 19px;
  }

  .whybme-section .card1 {
    display: flex;
    justify-content: center;
    margin: 0px;
    margin: auto;
    margin-top: 30px;
    width: 400px;
    height: 500px;
  }

  .whybme-section .part1 {
    width: 300px;
    height: 450px;
  }
  .whybme-section .part2 {
    width: 300px;
    height: 450px;
    left: 45px;
  }

  .whybme-section .part3 {
    display: none;
  }
  .whybme-section .part3-2 {
    display: none;
  }

  .whybme-section .flex-container-why {
    flex-direction: column;
  }
  .whybme-section .flex-container-why .the-future {
    width: 80%;
  }
  .whybme-section .flex-container-why .the-future-points {
    margin-top: 0px;
    margin-left: 70px;
    width: 80%;
  }


  .me-stats-header{
    margin-left: 70px;
    margin-top: 50px;
  }
  
  .parent{
    height: 310px;
  }
  
  .outline {
    width: 500px;
    height: 500px;
  
  }
  
  .sub-outline{
    width: 400px;
    height: 500px;
    top: 130px;
  }
  
  
  .sub-outline p{
    font-size: 18px;
    transform: translate(-50%, -45%);
  }
  
  
  
  .circle{
    transform: rotate(calc(360deg/10 * var(--i)));
    transform-origin: 290px;
  }
}

@media only screen and (max-width: 600px) {
  .whybme-section .row1 .col-md-6 {
    width: 100%;
  }
  .whybme-section h2 {
    font-size: 25px;
    margin-left: 4px;
  }
  .whybme-section p {
    font-size: 18px;
  }

  .whybme-section .why-header {
    margin-left: 50px;
    font-size: 30px;
    width: 80%;
  }
  .whybme-section .card1 {
    display: flex;
    /* justify-content: center; */
    margin: 0px;
    /* margin: auto; */
    margin-top: 30px;
    margin-left: 7px;
    width: 350px;
    height: 400px;
  }

  .whybme-section .part1 {
    width: 250px;
    height: 350px;
  }
  .whybme-section .part1 h3{
    font-size: 22px;
    text-align: center;
  }
  .whybme-section .part1  p {
    font-size: 16px;
  }
  .whybme-section .part2 {
    width: 250px;
    height: 350px;
    left: 20px;
  }

  .whybme-section .part3 {
    display: none;
  }
  .whybme-section .part3-2 {
    display: none;
  }
  .whybme-section .the-future {
    margin-left: 50px;
  }
  .whybme-section .the-future h2{
    margin-left: 0px;
    font-size: 30px;
  }
  .whybme-section .flex-container-why {
    flex-direction: column;
    margin-left: 0px;
  }
  .whybme-section .flex-container-why .the-future {
    width: 80%;
    
  }
  .whybme-section .flex-container-why .the-future-points p {
    font-size: 18px;
    
  }
  .whybme-section .flex-container-why .the-future-points {
    margin-top: 0px;
    margin-left: 50px;
    width: 80%;
  }
  
  .me-stats-header{
    margin-left: 50px !important;
    margin-top: 50px;
    font-size: 28px !important;
  }
  
  .parent{
    height: 220px;
  }
  
  .outline {
    width: 320px;
    height: 320px;
  
  }
  
  .sub-outline p{
    top: 70%;
  }
  .sub-outline{
    width: 250px;
    height: 250px;
    top: 100px;
  }
  
  
  .sub-outline p{
    width: 70%;
    font-size: 13.5px;
    transform: translate(-50%, -55%);
  }
  
  .circle{
    width: 50px;
    height: 50px;
    transform: rotate(calc(360deg/10 * var(--i)));
    transform-origin: 180px;
  }
}
