/* layouts */
.boss{
    background-color: var(--light-gray);
}
.home-section1 {
  height: 750px;
  background-image: url("../images/bg-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.center-intro {
  color: white;
  margin: 4.5rem auto;
  text-align: center;
}

.center-intro p {
  font-family: 'MARLIDE_DISPLAY';
  font-size: 120px;
  /* line-height: 120px; */
  line-height: 1;
  margin: 0;
  margin-bottom: 10px;
}

.center-intro button {
  margin-top: 2rem;
  width: 300px;
  height: 70px;
  padding: 20px 50px;
  font-size: 24px;
  border: none;
  color: var(--white);
  background: #141c51 0% 0% no-repeat padding-box;
  border-radius: 76px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.center-intro button:hover {
  scale: 1.05;
}

/* footer */

.footer {
  position: relative;
  z-index: 5;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141c51;
  color: var(--white);
  height: 200px;
}

.footer img {
  margin: 0% 5%;
  margin-right: 15%;
  width: 300px;
  height: 100px;
}

.footer .container {
  width: 70%;
  margin-top: 3%;
}

.footer ul {
  list-style: none;
  padding-left: 0px;
  font-size: 16px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer li {
  margin-top: 2%;
}

.footer h2 {
  text-decoration: none;
  font-family: 'SFT';
  font-size: 25px;
  color: white;
}

.custom-ul {
  font-size: 18px;
}

.custom-li {
  font-size: 16px;
  /* width: 170px; */
  /* height: 100%; */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* responsiveness */

@media only screen and (min-width: 650px) and (max-width: 1000px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .footer img {
    margin: 20px;
    margin-left: 5px;
    width: 350px;
    height: 116px;
  }

  .footer .container {
    max-width: 80%;
    width: 100%;
    margin: 0;
    margin-left: 100px;
    margin-top: 1rem;
  }
  .footer .col-md-4 {
    width: 33%;
    padding: 0;
  }
  .footer ul {
    padding-left: 0px;
    font-size: 18px;
  }

  .footer h2 {
    font-size: 22px;
    font-weight: 600;
  }

  .custom-ul {
    font-size: 12px;
  }

  .custom-li {
    font-size: 18px;
    width: 220px;
  }
}

@media only screen and (max-width: 650px) {
  .home-section1 {
    height: 600px;
  }
  .home-section1 .center-intro p {
    font-size: 46px;
  }
  .home-section1 .center-intro {
    margin-top: 10%;
  }
  .home-section1 .center-intro button {
    padding: 10px 20px;
    width: 200px;
    font-size: 20px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .footer img {
    margin: 20px;
    margin-left: 5px;
    width: 200px;
    height: 66px;
  }

  .footer .container {
    width: 100%;
    
    text-align: center;
  }

  .footer ul {
    padding: 0;
    font-size: 16px;
  }


  .footer h2 {
    font-size: 20px;
    font-weight: 600;
  }

  .custom-ul {
    font-size: 11px;
  }

  

  /* .row > .col-md-4:nth-child(1) {
    text-align: left;
    width: 40%;
  }
  .row > .col-md-4:nth-child(2) {
    text-align: center;
    width: 50%;
    display: inline-block;
  }
  .row > .col-md-4:nth-child(2) li {
    text-align: left;
  }
  .row > .col-md-4:nth-child(3) {
    text-align: center;
    width: 100%;
  } */
  /* .row > .col-md-4:nth-child(3) li:nth-child(2){
    margin-top: 0px;
    height: 53px;
    padding: 5px;
    display: inline-block;
  }*/
  .custom-li {
    display: inline-block;
    font-size: 11px;
    width: 180px;
    height: 100%;   
  }

}
