/* layouts */
.boss{
    background-color: var(--light-gray);
}
.home-section1 {
  height: 750px;
  background-image: url("../images/bg-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.center-intro {
  color: white;
  margin: 7rem auto;
  text-align: center;
}

.center-intro h1 {
  font-size: 70px;
  margin: 0;
  margin-bottom: 10px;
}

.center-intro button {
  margin-top: 2rem;
  padding: 20px 50px;
  font-size: 25px;
  border: none;
  color: var(--white);
  background: #141c51 0% 0% no-repeat padding-box;
  border-radius: 76px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.center-intro button:hover {
  scale: 1.05;
}

/* footer */

.footer {
  position: relative;
  z-index: 5;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141c51;
  color: var(--white);
  height: 200px;
}

.footer img {
  margin: 0% 5%;
  margin-right: 15%;
  width: 300px;
  height: 100px;
}

.footer .container {
  width: 70%;
  margin-top: 3%;
}

.footer ul {
  list-style: none;
  padding-left: 0px;
  font-size: 15px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer li {
  margin-top: 2%;
}

.footer h2 {
  text-decoration: none;
  font-family: 'SFT';
  font-size: 25px;
  color: white;
}

.custom-ul {
  font-size: 12px;
}

.custom-li {
  font-size: 11px;
  /* width: 170px; */
  /* height: 100%; */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* responsiveness */

@media only screen and (min-width: 650px) and (max-width: 1000px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .footer img {
    margin: 20px;
    margin-left: 5px;
    width: 70%;
    height: 65px;
  }

  .footer .container {
    max-width: 80%;
    width: 100%;
    margin: 0;
    margin-left: 100px;
    margin-top: 1rem;
  }
  .footer .col-md-4 {
    width: 33%;
    padding: 0;
  }
  .footer ul {
    padding-left: 0px;
    font-size: 18px;
  }

  .footer h2 {
    font-size: 22px;
    font-weight: 600;
  }

  .custom-ul {
    font-size: 12px;
  }

  .custom-li {
    font-size: 11px;
    width: 170px;
    margin: auto;
  }
}

@media only screen and (max-width: 650px) {
  .home-section1 .center-intro h1 {
    font-size: 40px;
  }
  .home-section1 .center-intro {
    margin-top: 20%;
  }
  .home-section1 .center-intro {
    margin-top: 20%;
  }
  .home-section1 .center-intro button {
    padding: 10px 20px;
    font-size: 20px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .footer img {
    margin: 20px;
    margin-left: 5px;
    width: 70%;
    height: 65px;
  }

  .footer .container {
    width: 100%;
    text-align: center;
  }

  .footer ul {
    padding: 0;
    font-size: 18px;
  }

  .footer h2 {
    font-size: 22px;
    font-weight: 600;
  }

  .custom-ul {
    font-size: 12px;
  }

  .custom-li {
    font-size: 11px;
    width: 170px;
    margin: auto;
  }
}
