:root {
  --white: #FFFFFF;
  --light-gray: #EBEBEB;
  --dark-blue: #141C51;
  --gray: #707070;
}

body {
  margin: 0;
  font-family: marlide-display-variable, sans-serif;
  font-style: normal;
  font-variation-settings: "wght" 300; 
  scroll-behavior: smooth; /* Enable smooth scrolling */       
}


