:root {
  --white: #FFFFFF;
  --light-gray: #EBEBEB;
  --dark-blue: #141C51;
  --gray: #707070;
}

/* fonts.css or fonts.scss */

@font-face {
  font-family: "SFT";
  src: url('./fonts/SFT/SFTSchriftedSansTRIAL-Regular.otf') format('opentype');
  /* Add additional src entries for different font file types if needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFT_BOLD';
  src: url('./fonts/SFT/SFTSchriftedSansTRIAL-Bold.otf') format('opentype');
  /* Add additional src entries for different font file types if needed */
}
@font-face {
  font-family: 'SFT_DEMI_BOLD';
  src: url('./fonts/SFT/SFTSchriftedSansTRIAL-DemiBold.otf') format('opentype');
  /* Add additional src entries for different font file types if needed */
}
@font-face {
  font-family: 'MARLIDE_DISPLAY';
  src: url('./fonts/MarlideDisplay/MarlideDisplay_Regular.woff') format('woff');
  /* Add additional src entries for different font file types if needed */
}
@font-face {
  font-family: 'MARLIDE_DISPLAY_BOLD';
  src: url('./fonts/MarlideDisplay/MarlideDisplay_Bold.woff') format('woff');
  /* Add additional src entries for different font file types if needed */
}

body {
  margin: 0;
  font-family: "SFT";
  font-style: normal; 
  -webkit-text-size-adjust:none;
  scroll-behavior: smooth; /* Enable smooth scrolling */       
}

h1,h2,h3,h4,h5,h6{
  font-family: 'MARLIDE_DISPLAY';
}

.card1 h3{
  font-family: 'MARLIDE_DISPLAY_BOLD';
}


.fadeOut {
  opacity: 0;
  transition: opacity 1s linear;
}

.fadeIn {
  opacity: 1;
}
